apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: sirato-web
  name: sirato-web
spec:
  selector:
    app: sirato-web
  type: NodePort
  ports:
     - port: 3000
spec:
  replicas: 1
  selector:
    matchLabels:
      run: web
  strategy: {}
  template:
    metadata:
      labels:
        run: web
    spec:
      containers:
        name: sirato-web
        - env:
            - name: http://sirato-api:8090/
              value: /api
          image: web3labs/epirus-free-web:latest
          ports:
            - containerPort: 3000
          resources: {}
      restartPolicy: Always